.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($black, 0.65);
  width: 100vw;
  height: 100vh;
}

input[type=checkbox] {
  display: none;
  &:checked {
    background-color: tomato;
    ~ .home-header .backdrop {
      display: block;
    }

    ~ .home-header .nav-menu {
      transform: translateX(-300px);
      box-shadow: 0px 0 1rem $black;
    }
  }
}

.nav-menu {
  background-color: $white;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  transform: translateX(0);
  transition: transform 0.5s linear;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-link {
    padding: 0.75rem 0;
    margin: 0.25rem;
    color: $menu-color;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font: {
      size: 0.875rem;
      weight: 300;
    }
    text: {
      transform: uppercase;
      decoration: none;
    }
    position: relative;
    &::after {
      content: '';
      background-color: $brand-color;
      height: 2px;
      width: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      transition: all 0.25s ease-in-out;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }

    &.active {
      padding: 0.75rem;
      background-color: $brand-color;
      color: $white;
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  &-link {
    background: $brand-color center center / cover no-repeat content-box border-box;
    color: $white;
    width: 1.875rem;
    height: 1.875rem;
    margin: 0.375rem;
    padding: 0.5rem;
    position: relative;

    &.angellist {
      background-image: url('../img/angellist-logo.svg');
    }
    &.facebook {
      background-image: url('../img/facebook-logo.svg');
    }
    &.twitter {
      background-image: url('../img/twitter-logo.svg');
    }
    &.linkedin {
      background-image: url('../img/linkedin-logo.svg');
    }
    &.googleplus {
      background-image: url('../img/googleplus-logo.svg');
    }
    &.youtube {
      background-image: url('../img/youtube-logo.svg');
    }
  }
}
